/* @import url("https://fonts.googleapis.com/css2?family=Andika&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Andika&family=Cedarville+Cursive&family=Dancing+Script:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.my-custom-class::after {
  content: "";
  width: 0%;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  transition: width 0.3s;
}

.my-custom-class:hover::after {
  width: 50%;
}

.on-page::after {
  content: "";
  width: 50%;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
}

.customHeight {
  height: calc(100vh - 9.5rem);
}

@keyframes travel1 {
  from {
    position: absolute;
    top: 0;
    visibility: visible;
    transform: translateX(-100%) translateY(0);
  }
  to {
    position: absolute;
    top: 0;
    visibility: visible;
    transform: translateX(2600%) translateY(0);
  }
}

.travel1 {
  animation: travel1 120s linear infinite;
}

.travel1:nth-child(1) {
  animation-delay: 0s;
}
.travel1:nth-child(2) {
  animation-delay: 6s;
}
.travel1:nth-child(3) {
  animation-delay: 12s;
}
.travel1:nth-child(4) {
  animation-delay: 18s;
}
.travel1:nth-child(5) {
  animation-delay: 24s;
}
.travel1:nth-child(6) {
  animation-delay: 30s;
}
.travel1:nth-child(7) {
  animation-delay: 36s;
}
.travel1:nth-child(8) {
  animation-delay: 42s;
}
.travel1:nth-child(9) {
  animation-delay: 48s;
}
.travel1:nth-child(10) {
  animation-delay: 54s;
}
.travel1:nth-child(11) {
  animation-delay: 60s;
}
.travel1:nth-child(12) {
  animation-delay: 66s;
}
.travel1:nth-child(13) {
  animation-delay: 72s;
}
.travel1:nth-child(14) {
  animation-delay: 78s;
}
.travel1:nth-child(15) {
  animation-delay: 84s;
}
.travel1:nth-child(16) {
  animation-delay: 90s;
}
.travel1:nth-child(17) {
  animation-delay: 96s;
}
.travel1:nth-child(18) {
  animation-delay: 102s;
}
.travel1:nth-child(19) {
  animation-delay: 108s;
}
.travel1:nth-child(20) {
  animation-delay: 114s;
}